@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #1f58d8;
  --color-light: #f1f5f9;
  --color-borderColor: #c4c7d2;
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#0558FE] to-[#A9CFFF];
  }
}
